<form action="/entry" method="post">
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="entry_title"><br>
  <label for="url">URL:</label><br>
  <input type="text" id="url" name="entry_url"><br><br>
  <input type="submit" value="Submit">
</form>