<form action="/bookmarks" method="post">
  <label for="url">URL:</label><br>
  <input type="text" name="url" placeholder="URL" />
  <label for="title">Title:</label />
  <input type="text" name="title" placeholder="Title" />
  <input type="submit" value="Submit" />
</form>

